.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.button {
    background-color: burlywood;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
}

.button:hover {
    background-color: darkorange;
}

.tasks-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.tasks-ul {
    list-style-type: none;
    padding: 0;
}

.tasks-li {
    margin: 10px;
}

.delete-button {
    background-color: red;
    border: none;
    color: white;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: darkred;
}

.add-task-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.task-input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
